SWAGGER_ENABLED=true
SWAGGER_PATH=/api/v1/swadoc
SERVER_CORS_ENABLED=true
SERVER_CORS_ALLOWED_ORIGINS=*

# SERVER_CORS_ALLOWED_ORIGINS
# Could be a comma separated list of origins, e.g. http://localhost:3000,http://example.com